<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="strConnSQL" connectionString="Data Source=(hwvandd4065.hud.gov);Initial Catalog=OE_MF_DM_MIRROR;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="strConnSQLStaging" connectionString="Data Source=(hwvandd4065.hud.gov);Initial Catalog=oe_mf_staging;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--   User application and configured property settings go here.    OE_MF_DM_MIRROR-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <!--<add key="strConnSQL" value="data source=(SDDMSHAREPOINT\SQLEXPRESS);Initial Catalog=SDDM_SQL_PERMITS_DB;Integrated Security=True"/>
    <add key="strConn" value="data source=mblprod;user id=mbluser;password=mbl" />-->
    <add key="strConnSQL" value="data source=hwvandd4065.hud.gov;initial catalog=OE_MF_DM_MIRROR;user id=oedm_ro;password=oedm_ro"/>
    <add key="strConnSQLStaging" value="data source=hwvandd4065.hud.gov;initial catalog=oe_mf_staging;user id=oestg_sql;password=oestg_sql"/>

    <add key="strServerName" value="hwvandd4065.hud.gov"/>
    <add key="strDatabaseName" value="oe_mf_staging"/>
    <add key="strUserName" value="oedm_sql"/>
    <add key="strPassword" value="oedm_sql"/>

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>